*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width:100vw;
    height:100vh;

}


.header{
background-color:#fecd1a;
padding:1rem 2rem 1rem 3rem;

}


#nav-header{
    display:flex;
    justify-content: space-between;
}

#home-logo{
    color:white;
    font-weight:bold;
    font-size:2rem;
}



#main-nav ul{
    display:flex;
    align-items: center;
    justify-content:center;
}


#main-nav ul li{
    list-style:none;
    padding-left:30px;
}


#main-nav ul li a{
   text-decoration:none;
   text-transform: uppercase;
   font-size:1.1rem;
   color:white;
}



#main-nav ul li a:hover{
    color:#52575d;
    cursor:pointer;
 }

 .search-area{
     width:30rem;
     height:2rem;
    
    
 }

 .search-input{
     width:87%;
     height:100%;
     border:none;
     outline:none;
     padding-left:0.3rem;
 }

 #search-btn{
     width:10%;
     height:100%;
     padding-left:0.5rem;
 }

 #cd-cart-trigger{
     cursor: pointer;
    
 }

 #item-incart{
     position:absolute;
     top:0.8rem;
     right:2.8rem;
     font-size:1.2rem;
     font-weight:bold;
 }

 
 .shopCart-container{
    
     position:absolute;
     top:20%;
     left:10%;
     width:70rem;
     background-color:white;
     color:black;
     padding:2rem;
     z-index:10;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.67);
    
 }

 .visible{
    display:block;
    transition:all 0.3s;
 }

 
 .invisible{
    display:none;
    transition:all 0.6s ;
 }

 .cart-head{
     border-bottom:0.02rem solid black;

 }



 .cart-content{
    display:flex;
    justify-content:space-evenly;
     margin-bottom:3rem;
 }

 
 .added-cartItems{
    display:flex;
    justify-content:space-evenly;
     margin-bottom:3rem;
 } 




 .cart-image{
     width:6rem;
     /* height:7rem; */
     border:1px solid black;
     margin-top:1rem;
 }

 
 .cart-image img{
    width:100%;
    height:100%;
   
}

 .margin-top{
     margin-top:2rem;
 }
 .margin_bottom{
     margin-bottom:0.5rem;
 }

.os-container{
  background-color:#52575d;
  color:white;
  position:relative;
  left:5%;
  top:1rem;
  bottom:0.5rem;
  padding:1rem;
  width:80%;
  height:6rem;
  border-radius:8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.42);
}

.backdrop{
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:100vh;
    background-color:rgba(0, 0, 0,0.62);
    pointer-events:none;
    display:block;
  
}

 .prodContainer{
     display:grid;
     grid-template-columns:1fr 1fr 1fr;
     grid-gap:0.8rem;
     box-shadow: 0 2px 8px rgba(184, 180, 180, 0.67);
     background: rgb(228, 219, 219);
     padding:2rem 4rem;
     margin:10px;
    
     
 }

 .product-item{ 
     text-align: center;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.52);
     background:white;
   
 }

 
 .product-item:hover{
    transform: scale(1.02);
}

/* 
 .itemContent{
     display:flex;
 } */
 
 .image-content{
     padding-top:2rem;
    
 } 

 .image-content img{
     width:50%;
 }


 .item-des-content{
    text-align: center; 
    padding:2rem;
    padding-top:3rem;
    font-size:1.2rem;

 }

 .item-desc{
     padding:0 0.5rem;
     padding-bottom:0.3rem;
     font-size:16px;
     text-align:center;
 }

 .addToCart-btn{
   padding:0.5rem;
   border:none;
   border-radius:3px;
   font-size:1rem;
   width:10rem;
   background-color:rgb(17, 15, 15);
   margin-top:1rem;
   
   
    
 }


 button{
     background-color:#52575d;
     color:#f6f4e6;
 }

 .btn{
     width:5rem;
     height:2rem;
     border:none;
     /* outline:none; */
     border-radius:8px;
     padding:0.2rem;
     background-color:white;
     color:black;
 }

 .del-btn{
    background-color:white;
    width:3.5rem;
    color:red;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
 }

 
 .del-btn:hover{
    background-color: rgb(247, 56, 56);
    width:3.5rem;
    color:white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    transition:0.82s ease-out;
 }

 .shopCart-btn{
     width:12rem;
    height:2rem;
    font-size:1.05rem;
    border:none;
    outline:none;
    border-radius:8px;
    padding:0.2rem;
    background-color:white;
    color:black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.62);
 }

 .cs-btn:hover{
     background-color:limegreen;
     color:white;
 }


 .co-btn:hover{
    background-color:red;
    color:white;
}

.os-btn{
    justify-self:center;
}



.footer{
    background-color:#52575d;
    color: white;
    margin-top:1rem;
    width:100%;
    
    
}

.footer-content{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    border-bottom:1px solid #f6f4e6;
    padding:1rem;
    
}

.list li{
    list-style:none;
}


.list li {
    font-size:1.1rem;
    text-align: center;
 }
 

.list li a{
   cursor:pointer;
   font-size:0.8rem;
}


.footer-bottom{
    padding:1rem;
}

.flex{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.flex li{
    list-style:none;
    padding-left:2rem;
}
.flex li a{
    cursor:pointer;
    font-size:2rem;
}



@media screen and (min-width:630px) {
     #app{
        display:grid;
        grid-template-columns:1fr;
        font-size:0.5rem;
    } 

   
    

}